@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}

@media (prefers-color-scheme: dark) {
    * {
        background-color: #1a1a1a;
        color: white;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
