.frontWelcome {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    padding: 0;
    overflow: hidden;
    height: 70vh;
    width: inherit;
    background-color: khaki;
    color: white;
    background-size: cover;
    box-shadow: 50vw 0px 100vw 0 rgba(11, 7, 7, 0.83) inset;
}

.twoColumnText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    flex: 1;
}

/* image to fit */
.twoColumnImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
