.profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.card h3 {
    margin: 0;
    padding: 0;
}
