.footer {
    width: 100%;
    background-image: linear-gradient(to right, var(--crimson), var(--navy));
    border-top: 0.5rem solid var(--peach);
    position: relative;
    color: white;
    bottom: 0;
    padding: 3rem;
}

.footer h3 {
    margin-bottom: 3rem;
}

.columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.columns p {
    font-weight: bold;
}
